FlexboxLayout {
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url("~/images/bg-groceries.jpg");
}

StackLayout {
  width: 300;
  padding: 10 16;
  background-color: #ffffff;
  border-radius: 5;
  opacity: 0.95;
}

TextField, Button {
  margin-bottom: 10;
}

.btn {
  margin-left: 0;
  margin-right: 0;
}

Image {
  margin-bottom: 20;
  height: 90;
}
